<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MART</title>
    <style>
        *{
            padding: 0px;
            margin: 0;
            font-family: 'Times New Roman', Times, serif;
        }
        .container{
            max-width: 100%;
        }
        nav{
            display: grid;
            grid-template-columns: 3fr 0.5fr 0.5fr;
            padding: 15px;
            border-bottom: 1px solid rgb(82, 80, 80);
        }
        nav a{
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
        main{
            padding: 25px;
            text-align: center;
        }
        main p{
            margin-top: 50px;
            font-size: 200px;
        }
        main span{
            font-size: 25px;
        }
        @media (max-width: 750px){
            nav{
                grid-template-columns: 1fr 0.5fr 0.5fr;
            }
            main p{
                font-size: 80px;
            }
            main > span{
                font-size: 20px;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <nav>
            
            <p></p>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </nav>

        <main>
            <p>MART</p>
            <span>Shopping with Ease..</span>
        </main>
    </div>
</body>
</html>