<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MART</title>
    <style>
        *{
            padding: 0px;
            margin: 0;
            font-family: cursive;
        }
        nav{
            display: grid;
            grid-template-columns: 3fr 0.5fr 0.5fr;
            /* border: 1px solid black; */
            padding: 15px;
        }
        nav a{
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
        main{
            /* border: 1px solid red; */
            padding: 25px;
            text-align: center;
        }
        main p{
            margin-top: 50px;
            font-size: 200px;
        }
        main span{
            font-size: 25px;
        }
    </style>
</head>
<body>
    <div class="container">
        <nav>
            
            <p></p>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        </nav>

        <main>
            <p>MART</p>
            <span>Shopping with Ease..</span>
        </main>
    </div>
</body>
</html>